<center> <h1>Suma</h1>
<form action="/operaciones/suma" method="post">
<input type="number" name="n1">
<h3> + </h3>
<input type="number" name="n2"> <br><br>
<button type="submit"> enviar </button>




</form>
</center>