<h2>yo soy agregar asignar</h2>
</form>

    {{#each asignar}}


<div class="container">
  <div class="row">
    <div class="col-sm">
      {{id_amd}}
    </div>
    <div class="col-sm">
      {{id_docente}}
    </div>
    <div class="col-sm">
      {{id_materia}}
    </div>
    <div class="col-sm">
      {{id_periodo}}
    </div>

  </div>
</div>


{{/each}}

<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="car-bady">
                    <form action=""method="post">
                        <div class="form-group">
                            <label for="">Registrar</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="id_docente" id="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="id_materia" id="" >
                        </div>
                          <div class="form-group">
                            <input class="form-control" type="text" name="id_periodo" id="" >
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>