asignar
soy modificar
</form>

    {{#each asignar}}


<div class="container">
  <div class="row">
    <div class="col-sm">
      {{id_amd}}
    </div>
    <div class="col-sm">
      {{id_docente}}
    </div>
    <div class="col-sm">
      {{id_materia}}
    </div>
    <div class="col-sm">
      {{id_periodo}}
    </div>

  </div>
</div>


{{/each}}
