materia
soy  consultar
</form>

    {{#each materia}}
   


<div class="container">
  <div class="row">
    <div class="col-sm">
      {{id_materia}}
    </div>
    <div class="col-sm">
      {{materia}}
    </div>
  </div>
</div>

{{/each}}