materia
soy eliminar
</form>

    {{#each materia}}
   


<div class="container">
  <div class="row">
    <div class="col-sm">
      {{id_materia}}
    </div>
    <div class="col-sm">
      {{materia}}
    </div>
    <div class="col-sm">
      <a href="/materia/eliminar/{{id_materia}}" class="btn btn-danger">eliminar</a>
    </div>
  </div>
</div>

{{/each}}