<h2>yo soy agregar estudiantes</h2>
</form>

    {{#each estu}}

<div class="container">
  <div class="row">
      <div class="col-sm">
      {{id_estudiantes}}
    </div>
    <div class="col-sm">
      {{nombre_estu}}
    </div>
    <div class="col-sm">
      {{edad}}
    </div>
    <div class="col-sm">
      {{correo}}
    </div>
  </div>
</div>


{{/each}}