docente
soy consultar
</form>
    {{#each docen}}
<div class="container">
  <div class="row">
    <div class="col-sm">
      {{id_docente}}
    </div>
    <div class="col-sm">
      {{nombre_docen}}
    </div>
    <div class="col-sm">
      {{edad}}      
    </div>
    <div class="col-sm">
      {{correo}}
    </div>
  </div>
</div>
{{/each}}
