<h2>yo soy agregar perdiodo</h2>
</form>
  {{#each periodo}}
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <h5>id_periodo</h5>
    <div class="col-sm">
      {{id_periodo}}
    </div>
    <h5>periodo</h5>
    <div class="col-sm">
      {{periodo}}
    </div>
  </div>
</div>

{{/each}}

<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="car-bady">
                    <form action=""method="post">
                        <div class="form-group">
                            <label for="">Registrar</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="periodo" id="">
     
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
