perdiodo
soy consultar
</form>
  {{#each periodo}}
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <h5>id_periodo</h5>
    <div class="col-sm">
      {{id_periodo}}
    </div>
    <h5>periodo</h5>
    <div class="col-sm">
      {{periodo}}
    </div>
  </div>
</div>

{{/each}}
