  <table>
        <th> <a href="/parcial/home">
                <h2>Home</h2>
            </a> </th>
        <th><a href="/parcial/mult">
                <h2>Mult</h2>
            </a></th>
        <th> <a href="/parcial/fac">
                <h2>Fac</h2>
            </a></th>
        <th> <a href="/parcial/op">
                <h2>operaciones</h2>
            </a> </th>
    </table>

:c