<center>
    <table>
        <th> <a href="/parcial/home">
                <h2>Home</h2>
            </a> </th>
        <th><a href="/parcial/mult">
                <h2>Mult</h2>
            </a></th>
        <th> <a href="/parcial/fac">
                <h2>Fac</h2>
            </a></th>
        <th> <a href="/parcial/op">
                <h2>operaciones</h2>
            </a> </th>
    </table>

    <h1>operaciones</h1>
    <form action="/parcial/op" method="post">
        <input type="number" name="n2">
        <br> <br>
        <input type="number" name="n3">
        <br><br>
        <button name="suma" type="submit"> + </button>
        <button name="resta" type="submit"> - </button>
        <button name="division" type="submit"> / </button>
        <button name="multiplicacion" type="submit"> X </button>
</center>


</center>